@import "../../../assets/styles/variables.scss";

@include breakpoint-only("sm") {
  .FriendsDialog {
    width: 100%;
    .FriendsCard {
      width: 100%;
    }
  }
}
@include breakpoint-only("xs") {
  .FriendsDialog {
    width: 100%;
    .FriendsCard {
      width: 100%;
    }
  }
}
