.Logo {
  font-family: "RichardMurray";
  transition: 0.5s;
  color: white;
  font-size: 40px;
  line-height: 90px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
.ItemMenu {
  text-decoration: none;
  margin: 0 auto;
  color: white;
  font-family: "roboto";
  font-size: 20px;
}

.PrimarySearchAppBar-sectionDesktop-9 .itemMenu {
  text-decoration: none;
  color: white;
  font-family: "lato";
  font-size: 20px;
}

.PrimarySearchAppBar-sectionDesktop-9 li:last-of-type {
  margin-right: 80px;
}
