@font-face {
  font-family: "RichardMurray";
  src: url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.woff")
      format("woff"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.svg#RichardMurray")
      format("svg"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.eot"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App {
  text-align: center;
}
.Footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 10vh;
  font-size: 30px;
  background-color: black;
  color: white;
  line-height: 10vh;
  font-family: "RichardMurray";
}
