@font-face {
  font-family: "RichardMurray";
  src: url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.woff")
      format("woff"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.svg#RichardMurray")
      format("svg"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.eot"),
    url("./assets/fonts/webfonts_RichardMurray/RichardMurray.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  min-height: 100vh;
}
h1.logo {
  font-family: "RichardMurray";
  transition: 0.5s;
  color: white;
  font-size: 40px;
  line-height: 90px;
}
h1.logo:hover {
  cursor: pointer;
  opacity: 0.7;
  // text-decoration: none;
}
.PrimarySearchAppBar-sectionDesktop-9 .itemMenu {
  text-decoration: none;
  color: white;
  font-family: "lato";
  font-size: 20px;
}

.PrimarySearchAppBar-sectionDesktop-9 li:last-of-type {
  margin-right: 80px;
}
.dataContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  
}
footer
{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
height: 10vh;
font-size: 30px;
background-color: black;
color: white;
line-height: 10vh;
font-family: 'RichardMurray'
}

